@content-min-width: 600px;
@content-max-width: 940px;
@wrap-content-width: 700px;

.page {
    margin: 0;
    min-width: @content-min-width;
    box-sizing: border-box;
    background: #d9d9d9;
    color: #626262;
    font-family: Arial, serif;
    font-size: 15px;
}

.content {
    margin: auto;
    max-width: @content-max-width;
    padding: 0 10px;
}

.bottom-bordered-section {
    border-bottom: 2px solid #ffffff;
}

.header {
    background-color: #58614E;
    box-shadow: inset 0 -15px 15px -10px rgba(1, 1, 1, 0.3);
    .bottom-bordered-section;
}

.header__inner {
    .content;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    padding: 40px 0 42px 0;
}

.menu {
    list-style-type: none;
}

.menu__item {
    float: left;
    margin-left: 30px;
    text-transform: uppercase;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    color: #B8C6AC;
    transition: color .1s, text-shadow .2s;
    text-shadow: 1px 1px 1px #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem;
    font-family: "Times New Roman", serif;
}

.menu__link:hover {
    text-shadow: 1px 1px 3px #000000;
    color: #808977;
}

.menu__link:active {
    color: #ffffff;
}

.menu__link_active {
    color: #ffffff;
}

.identity__logo {
    display: inline-block;
    height: 49px;
    width: 80px;
    margin-right: 10px;
}

.identity__text {
    display: inline-block;
    color: #ececec;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Caudex', serif;
    text-transform: uppercase;
}

.identity__company-name {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    font-weight: 100;
}

.identity__company-description {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 100;
    font-size: 0.8rem;
}

.banner {
    overflow: hidden;
    .bottom-bordered-section;
}

.banner__inner {
    position: relative;
    .content;
}

.banner__shadow {
    position: absolute;
    left: -15%;
    right: -15%;
    bottom: -60px;
    z-index: -1;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 250px #000000;
}

.banner__image {
    margin: 15px 0 -5px 0;
    width: 100%;
}

.text-section {
    .bottom-bordered-section;
}

.text-section__inner {
    .content;
    display: flex;
    flex-direction: row;
}

.text-section__promise {
    flex: 2;
}

.promise {
    padding: 15px 20px 20px 0;
    border-right: dotted 1px #ffffff;
}

.promise__title {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
    font-family: "Times New Roman", serif;
}

.promise__link {
    color: #626262;
}

.promise__link:hover {
    color: #000000;
}

.text-section__testimonials {
    flex: 1;
}

.testimonials {
    padding: 25px 15px 20px 15px;
}

.testimonials__title {
    margin: 0;
    font-family: "Times New Roman", serif;
    text-transform: uppercase;
    font-weight: lighter;
}

.testimonials__text {
    margin: 20px 0 0 0;
}

.testimonials__author {
    text-align: right;
}

@media (max-width: @wrap-content-width) {
    .text-section__inner {
        flex-direction: column;
    }

    .promise {
        padding: 25px 5px 5px 0;
        border-right-style: none;
        border-bottom: dotted 1px white;
    }

    .testimonials {
        padding: 10px 5px;
    }
}

.pluses {
    background: #d9d9d9;
    .bottom-bordered-section;
}

.pluses__inner {
    .content;
}

.pluses__title {
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    font-family: "Times New Roman", serif;
    font-weight: lighter;
}

.pluses__list {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.advantage {
    transition: all 0.2s;
}

@media (max-width: @content-max-width) {
    .pluses__list {
        margin: 0 70px;
    }
}

.advantage:hover {
    transform: scale(1.05, 1.05);
}

.advantage__image-container {
    position: relative;
    top: 0;
    left: 0;
}

.advantage__image-shadow {
    margin-top: 10px;
}

.advantage__image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 216px;
    height: 148px;
    border: solid 1px rgb(201, 201, 201);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.advantage__image {
    position: absolute;
    top: 5px;
    left: 5px;
}

.advantage__title {
    margin: 15px 0 10px 0;
    text-transform: uppercase;
}

.advantage__text {
    height: 70px;
    width: 220px;
    margin: 0 0 20px 0;
}

.advantage__button {
    display: inline-block;
    margin-bottom: 15px;
}

.feedbacks {
    .bottom-bordered-section;
}

.feedbacks__inner {
    .content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.feedbacks__shadow {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 600px;
    height: 40px;
    margin: -40px auto auto auto;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(1, 1, 1, 0.3);
}

.feedback {
    padding: 30px 15px;
    border-right: solid 1px #c0c0c0;
}

.feedback:last-child {
    border-right-style: none;
}

.feedback__title {
    margin: 0;
    text-transform: uppercase;
}

.feedback__content {
    margin: 10px 0;
    font-style: normal;
    font-size: 0.9rem;
}

.feedback__button {
    display: inline-block;
}

footer {
    background-color: #58614E;
}

.footer__inner {
    .content;
    height: 28px;
    padding-top: 15px;
}

.social__link {
    float: left;
    margin-left: 5px;
    text-decoration: none;
}

.social__image {
    width: 15px;
    height: 15px;
}

.social__image:hover {
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}

.footer__copyright {
    float: right;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.button {
    border-radius: 0 3px;
    background-color: #5b5b5b;
    color: #ffffff;
    transition: background-color 0.2s;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
    font-size: 0.8rem;
}

.button:hover {
    background-color: #000000;
}

.button_size_s {
    padding: 10px 13px;
}

.button_size_l {
    padding: 14px 20px;
}